.container {
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

#calculadora {
    position: relative;
    display: flex;
    border: 1px solid black;
    min-height: 500px;
    min-width: 302px;
    box-shadow: 10px 10px 60px rgba(7, 7, 7, 0.5);
}

/* parte dos botoes */

.botoesNumeros {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: repeat(4, 83px);
    bottom: 0;
    left: 0;
}
.separadorBox {
    border: 1px solid black;
    height: 83px;
    width: 75px;
}

.item-zero {
    grid-column: 2 / 3;
    grid-row: 4 / 4;
}

.botoes-operadores {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(5, 83px);
    bottom: 0;
}

/* parte dos operadores */

.item-um {
    grid-column: 1 / 4;
    grid-row: 5 / 5;
}

.item-dois {
    grid-column: 3 / 4;
    grid-row: 5 / 5;
}

.item-tres {
    grid-column: 4 / 4;
    grid-row: 5 / 5;
}

.item-quatro {
    grid-column: 4 / 4;
    grid-row: 4 / 5;
}

.item-cinco {
    grid-column: 4 / 4;
    grid-row: 3 / 5;
}

.item-seis {
    grid-column: 4 / 4;
    grid-row: 2 / 5;
}

.item-sete {
    grid-column: 4 / 4;
    grid-row: 1 / 5;
}

.item-oito {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
}

.item-nove {
    grid-column: 2 / 4;
    grid-row: 1 / 5;
}
.item-dez {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
}

/* Tela de resposta */

.tela-resposta {
    width: 100%;
    height: 83px;
    border: 1px solid black;
    position: relative;
}

.resposta-display {
    background-color: red;
    width: 100%;
    position: absolute;
    text-align: end;
    padding: 10px;
    font-size: 40pt;
    font-weight: 400;
}