.container {
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

#calculadora {
    display: flex;
    border: 1px solid black;
    height: 500px;
    width: 300px;
    box-shadow: 10px 10px 60px rgba(7, 7, 7, 0.5);
}

.botoesNumeros {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: repeat(5, 83px);
}
.separadorBox {
    border: 1px solid black;
    height: 83px;
    width: 75px;
}
